<Container class="home" id="home">
	<h1>Welcome to Dominik's TriShop</h1>
	<h2>Your source for professional triathlon gear!</h2>
	<%= image_tag("bike.jpg", class: "img-responsive my-image Bild", :style => "border 100px solid #000000;") %>
</Container>

<container class="about" id="about">
	<h1>About DominikApp</h1>
	<h2>This page is meant to be a university project.</h2>
	<p>I am known to be an elite athlete, knowledgable in my profession. <br>
	In case of any questions or advice, please don't hestitate to contact me. The contact details can be found in <strong>Contact Information</strong> below.
	</p>
</container>


<div class="container-about">
	<div class="row" id="about">
		<div class="col-md-4 col-sm-4">
			<p>I like to tri.</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I like to climb.</p>
		</div>

		<div class="col-md-4 col-sm-4">
			<p>I like to have fun.</p>
		</div>

	</div>
</div> <!-- End Container-work -->


<container class="contact" id="contact">
	<h1>Contact Information</h1>
	<h2>If you need to get in contact:</h2>
	<p>For any information regarding gear, please get in touch: <strong> dominik.test@test.com</strong></p>
</container>